workflows/content-pipeline-main.json
{
  "name": "SeedLink - Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cp-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {},
      "id": "cp-0002-4000-8000-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 500]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Content Hub"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Queued"
            }
          ]
        },
        "options": {
          "returnAllMatches": false
        }
      },
      "id": "cp-0003-4000-8000-000000000003",
      "name": "Sheets: Pull Next Topic",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-topic-exists",
              "leftValue": "={{$input.all().length}}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cp-0004-4000-8000-000000000004",
      "name": "IF: Topic Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "topic", "value": "={{$json.Topic}}", "type": "string" },
            { "id": "a2", "name": "pillar", "value": "={{$json.Pillar}}", "type": "string" },
            { "id": "a3", "name": "keyword", "value": "={{$json['Target Keyword']}}", "type": "string" },
            { "id": "a4", "name": "audience", "value": "={{$json['Target Audience']}}", "type": "string" },
            { "id": "a5", "name": "angle", "value": "={{$json.Angle || ''}}", "type": "string" },
            { "id": "a6", "name": "cta_type", "value": "={{$json['CTA Type'] || 'marketplace'}}", "type": "string" },
            { "id": "a7", "name": "row_number", "value": "={{$json.row_number || $itemIndex + 2}}", "type": "number" },
            { "id": "a8", "name": "revision_count", "value": 0, "type": "number" }
          ]
        },
        "options": {}
      },
      "id": "cp-0005-4000-8000-000000000005",
      "name": "Set: Prepare Topic Brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a content strategist for SeedLink.app, an AI talent marketplace. Given a topic, pillar, keyword, and audience, generate a structured content brief as JSON: {headline, angle, target_keyword, secondary_keywords[], content_pillar, target_audience, outline[] (3 H2 sections + FAQ section), cta_type (marketplace|playbook|talent_matching), cta_context, word_count_target: 1200, reference_notes}. Headlines: specific, benefit-driven. Angles: real pain points. Include FAQ section in outline for AEO. Output JSON only.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Topic: {{ $json.topic }}\\nPillar: {{ $json.pillar }}\\nKeyword: {{ $json.keyword }}\\nAudience: {{ $json.audience }}\\nAngle: {{ $json.angle }}\\nCTA Type: {{ $json.cta_type }}\"}]\n}",
        "options": { "timeout": 60000 }
      },
      "id": "cp-0006-4000-8000-000000000006",
      "name": "Claude: Expand Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "b1", "name": "brief", "value": "={{$json.content[0].text}}", "type": "string" },
            { "id": "b2", "name": "topic", "value": "={{$('Set: Prepare Topic Brief').item.json.topic}}", "type": "string" },
            { "id": "b3", "name": "pillar", "value": "={{$('Set: Prepare Topic Brief').item.json.pillar}}", "type": "string" },
            { "id": "b4", "name": "keyword", "value": "={{$('Set: Prepare Topic Brief').item.json.keyword}}", "type": "string" },
            { "id": "b5", "name": "audience", "value": "={{$('Set: Prepare Topic Brief').item.json.audience}}", "type": "string" },
            { "id": "b6", "name": "row_number", "value": "={{$('Set: Prepare Topic Brief').item.json.row_number}}", "type": "number" },
            { "id": "b7", "name": "revision_count", "value": "={{$('Set: Prepare Topic Brief').item.json.revision_count}}", "type": "number" }
          ]
        },
        "options": {}
      },
      "id": "cp-0007-4000-8000-000000000007",
      "name": "Set: Prepare Draft Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are a blog writer for SeedLink.app, an AI talent marketplace. Write a 1000-1500 word blog post. Voice: founder-to-founder, concrete (specific numbers/examples), accessible (define jargon), opinionated but not pushy. Structure: 1) Opening hook (2-3 sentences, no cliches), 2) Opening definition (standalone, citable by AI systems), 3) Context paragraph, 4) Key Takeaways (3-5 complete citable bullets), 5) 3-4 H2 body sections (short paragraphs, verifiable claims with data), 6) FAQ section (3-5 Q&A, self-contained answers), 7) Closing with natural CTA. Include 1-2 SeedLink product refs (marketplace for tools, Playbook for planning, talent matching for hiring). Use target keyword in headline, first paragraph, one H2, closing. End with meta description (150-160 chars). Output clean markdown.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Content Brief:\\n{{ $json.brief }}\\n\\nTopic: {{ $json.topic }}\\nPillar: {{ $json.pillar }}\\nTarget Keyword: {{ $json.keyword }}\\nAudience: {{ $json.audience }}\"}]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "cp-0008-4000-8000-000000000008",
      "name": "Claude: Generate Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a voice/tone reviewer for SeedLink.app. Evaluate the blog draft against these standards: founder-to-founder tone, concrete claims with numbers, accessible language (jargon defined), opinionated but not pushy, no corporate speak, short paragraphs (2-3 sentences). Score 1-5 on: tone_match, concreteness, accessibility, word_choice. Return JSON: {voice_score (avg), tone_match: {score, issues[]}, concreteness: {score, issues[]}, accessibility: {score, issues[]}, word_choice: {score, issues[]}, flagged_lines[], passed (true if avg>=3.5 and no score<2.5)}. Output JSON only.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Review this blog draft for voice and tone:\\n\\n{{ $('Claude: Generate Draft').item.json.content[0].text }}\"}]\n}",
        "options": { "timeout": 60000 }
      },
      "id": "cp-0009-4000-8000-000000000009",
      "name": "Claude: Voice Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a content strategy reviewer for SeedLink.app (AI talent marketplace with marketplace, Playbook, talent matching). Pillars: Finding AI Talent, Zero to MVP, AI Industry & Trends, SeedLink in Action. Evaluate: pillar_alignment (1-5), audience_targeting (1-5), cta_integration (1-5, are 1-2 SeedLink refs natural?), value_delivery (1-5, actionable insight?). Return JSON: {strategy_score (avg), pillar_alignment: {score, feedback}, audience_targeting: {score, feedback}, cta_integration: {score, feedback}, value_delivery: {score, feedback}, cta_suggestions[], passed (true if avg>=3.5 and no score<2.5)}. Output JSON only.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Review this blog draft for strategy alignment:\\n\\nAssigned Pillar: {{ $('Set: Prepare Draft Request').item.json.pillar }}\\nTarget Audience: {{ $('Set: Prepare Draft Request').item.json.audience }}\\n\\nDraft:\\n{{ $('Claude: Generate Draft').item.json.content[0].text }}\"}]\n}",
        "options": { "timeout": 60000 }
      },
      "id": "cp-0010-4000-8000-000000000010",
      "name": "Claude: Strategy Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are an SEO/AEO specialist for SeedLink.app. Evaluate blog draft for SEO (keyword_placement 1-5, meta_quality 1-5, structure 1-5) and AEO (ai_citability 1-5: standalone definitions? extractable answers?, faq_quality 1-5: self-contained Q&A?, key_takeaways 1-5: complete citable bullets?, verifiable_claims 1-5: specific data?). Also generate: meta_title (50-60 chars with keyword + | SeedLink), meta_description (150-160 chars), og_title, og_description, internal_links [{anchor_text, target, context}], faq_schema (JSON-LD FAQPage). Return JSON: {seo_aeo_score (avg all), seo: {keyword_placement, meta_quality, structure}, aeo: {ai_citability, faq_quality, key_takeaways, verifiable_claims}, metadata: {meta_title, meta_description, og_title, og_description, internal_links, faq_schema}, passed (avg>=3.5, no score<2.5)}. JSON only.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Review this blog draft for SEO/AEO:\\n\\nTarget Keyword: {{ $('Set: Prepare Draft Request').item.json.keyword }}\\n\\nDraft:\\n{{ $('Claude: Generate Draft').item.json.content[0].text }}\"}]\n}",
        "options": { "timeout": 60000 }
      },
      "id": "cp-0011-4000-8000-000000000011",
      "name": "Claude: SEO/AEO Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all 3 agent review responses\nconst voiceRaw = $('Claude: Voice Review').item.json;\nconst strategyRaw = $('Claude: Strategy Review').item.json;\nconst seoRaw = $('Claude: SEO/AEO Review').item.json;\n\nfunction parseAgentResponse(raw) {\n  let text = '';\n  if (raw.content && Array.isArray(raw.content)) {\n    const block = raw.content.find(b => b.type === 'text');\n    if (block) text = block.text;\n  }\n  try {\n    let jsonStr = text.trim();\n    if (jsonStr.startsWith('```json')) jsonStr = jsonStr.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n    else if (jsonStr.startsWith('```')) jsonStr = jsonStr.replace(/^```\\s*/, '').replace(/\\s*```$/, '');\n    return JSON.parse(jsonStr);\n  } catch (e) {\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { return JSON.parse(match[0]); }\n      catch (e2) { return { passed: false, error: e2.message }; }\n    }\n    return { passed: false, error: 'Failed to parse: ' + e.message };\n  }\n}\n\nconst voice = parseAgentResponse(voiceRaw);\nconst strategy = parseAgentResponse(strategyRaw);\nconst seo = parseAgentResponse(seoRaw);\n\nconst allPassed = voice.passed !== false && strategy.passed !== false && seo.passed !== false;\n\nconst draftContent = $('Claude: Generate Draft').item.json.content[0].text;\nconst rowNumber = $('Set: Prepare Draft Request').item.json.row_number;\nconst revisionCount = $('Set: Prepare Draft Request').item.json.revision_count;\nconst keyword = $('Set: Prepare Draft Request').item.json.keyword;\nconst topic = $('Set: Prepare Draft Request').item.json.topic;\n\nreturn [{\n  json: {\n    all_passed: allPassed,\n    voice_score: voice.voice_score || 0,\n    strategy_score: strategy.strategy_score || 0,\n    seo_aeo_score: seo.seo_aeo_score || 0,\n    voice_report: JSON.stringify(voice),\n    strategy_report: JSON.stringify(strategy),\n    seo_report: JSON.stringify(seo),\n    metadata: seo.metadata || {},\n    draft_content: draftContent,\n    row_number: rowNumber,\n    revision_count: revisionCount,\n    keyword: keyword,\n    topic: topic\n  }\n}];"
      },
      "id": "cp-0012-4000-8000-000000000012",
      "name": "Code: Aggregate Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-all-passed",
              "leftValue": "={{$json.all_passed}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cp-0013-4000-8000-000000000013",
      "name": "IF: All Agents Passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are the final editorial agent for SeedLink.app. You receive a blog draft + feedback from Voice, Strategy, and SEO/AEO review agents. Synthesize all feedback, fix flagged issues, apply editorial polish, and produce the final publication-ready version. Maintain founder-to-founder voice. Ensure opening definition, Key Takeaways, and FAQs are self-contained and AI-citable. Return JSON: {final_content (complete revised markdown), revision_summary: {changes_made[], agent_issues_resolved: {voice[], strategy[], seo_aeo[]}, editorial_notes, final_word_count, confidence (0-1)}}. JSON only.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Draft:\\n{{ $json.draft_content }}\\n\\nVoice Agent Report:\\n{{ $json.voice_report }}\\n\\nStrategy Agent Report:\\n{{ $json.strategy_report }}\\n\\nSEO/AEO Agent Report:\\n{{ $json.seo_report }}\"}]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "cp-0014-4000-8000-000000000014",
      "name": "Claude: Editor-Unifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3000, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse Editor-Unifier response and extract final content + metadata\nconst raw = $input.first().json;\nlet text = '';\nif (raw.content && Array.isArray(raw.content)) {\n  const block = raw.content.find(b => b.type === 'text');\n  if (block) text = block.text;\n}\n\nlet parsed;\ntry {\n  let jsonStr = text.trim();\n  if (jsonStr.startsWith('```json')) jsonStr = jsonStr.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n  else if (jsonStr.startsWith('```')) jsonStr = jsonStr.replace(/^```\\s*/, '').replace(/\\s*```$/, '');\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { parsed = JSON.parse(match[0]); }\n    catch (e2) { parsed = { final_content: text, revision_summary: { editorial_notes: 'Could not parse JSON, using raw text' } }; }\n  } else {\n    parsed = { final_content: text, revision_summary: { editorial_notes: 'Could not parse response' } };\n  }\n}\n\nconst aggData = $('Code: Aggregate Reviews').item.json;\n\nreturn [{\n  json: {\n    final_content: parsed.final_content || text,\n    revision_summary: parsed.revision_summary || {},\n    review_notes: (parsed.revision_summary && parsed.revision_summary.editorial_notes) || '',\n    voice_score: aggData.voice_score,\n    strategy_score: aggData.strategy_score,\n    seo_aeo_score: aggData.seo_aeo_score,\n    meta_title: (aggData.metadata && aggData.metadata.meta_title) || '',\n    meta_description: (aggData.metadata && aggData.metadata.meta_description) || '',\n    schema_markup: JSON.stringify(aggData.metadata && aggData.metadata.faq_schema || {}),\n    row_number: aggData.row_number,\n    revision_count: aggData.revision_count,\n    topic: aggData.topic\n  }\n}];"
      },
      "id": "cp-0015-4000-8000-000000000015",
      "name": "Code: Parse Final Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Content Hub"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Ready for Review",
            "Draft Content": "={{$json.final_content}}",
            "Voice Score": "={{$json.voice_score}}",
            "Strategy Score": "={{$json.strategy_score}}",
            "SEO/AEO Score": "={{$json.seo_aeo_score}}",
            "Review Notes": "={{$json.review_notes}}",
            "Meta Title": "={{$json.meta_title}}",
            "Meta Description": "={{$json.meta_description}}",
            "Schema Markup": "={{$json.schema_markup}}",
            "Revision Count": "={{$json.revision_count}}"
          },
          "matchingColumns": ["row_number"]
        },
        "options": {}
      },
      "id": "cp-0016-4000-8000-000000000016",
      "name": "Sheets: Save Final Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3500, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":memo: *SeedLink Content Pipeline — Draft Ready*\\n\\n*Topic:* {{ $json.topic }}\\n*Voice Score:* {{ $json.voice_score }}/5\\n*Strategy Score:* {{ $json.strategy_score }}/5\\n*SEO/AEO Score:* {{ $json.seo_aeo_score }}/5\\n*Revisions:* {{ $json.revision_count }}\\n\\nDraft is ready for human review in the Content Hub.\\n:link: <https://docs.google.com/spreadsheets/d/{{ $env.SEEDLINK_EDITORIAL_CALENDAR_ID }}|Open Content Hub>\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "cp-0017-4000-8000-000000000017",
      "name": "HTTP: Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3750, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-max-rev",
              "leftValue": "={{$json.revision_count}}",
              "rightValue": 2,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cp-0018-4000-8000-000000000018",
      "name": "IF: Max Revisions",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3000, 500]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "r1", "name": "draft_content", "value": "={{$json.draft_content}}", "type": "string" },
            { "id": "r2", "name": "voice_report", "value": "={{$json.voice_report}}", "type": "string" },
            { "id": "r3", "name": "strategy_report", "value": "={{$json.strategy_report}}", "type": "string" },
            { "id": "r4", "name": "seo_report", "value": "={{$json.seo_report}}", "type": "string" },
            { "id": "r5", "name": "revision_count", "value": "={{$json.revision_count + 1}}", "type": "number" },
            { "id": "r6", "name": "row_number", "value": "={{$json.row_number}}", "type": "number" },
            { "id": "r7", "name": "keyword", "value": "={{$json.keyword}}", "type": "string" },
            { "id": "r8", "name": "topic", "value": "={{$json.topic}}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "cp-0019-4000-8000-000000000019",
      "name": "Set: Prepare Revision",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3250, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are revising a blog draft for SeedLink.app that did not pass agent review. Apply the agent feedback precisely. Maintain founder-to-founder voice. Fix flagged issues while preserving the draft's strengths. Keep 1000-1500 words with opening definition, Key Takeaways, FAQ section, and natural CTAs. Output the revised blog post in markdown only.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Original Draft:\\n{{ $json.draft_content }}\\n\\nVoice Agent Feedback:\\n{{ $json.voice_report }}\\n\\nStrategy Agent Feedback:\\n{{ $json.strategy_report }}\\n\\nSEO/AEO Agent Feedback:\\n{{ $json.seo_report }}\\n\\nRevise the draft to address all flagged issues.\"}]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "cp-0020-4000-8000-000000000020",
      "name": "Claude: Revise Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3500, 450]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Content Hub"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Needs Manual Review",
            "Draft Content": "={{$json.draft_content}}",
            "Voice Score": "={{$json.voice_score}}",
            "Strategy Score": "={{$json.strategy_score}}",
            "SEO/AEO Score": "={{$json.seo_aeo_score}}",
            "Review Notes": "Agent review failed after max revisions. Voice: {{$json.voice_score}}, Strategy: {{$json.strategy_score}}, SEO/AEO: {{$json.seo_aeo_score}}. Please review and edit manually.",
            "Revision Count": "={{$json.revision_count}}"
          },
          "matchingColumns": ["row_number"]
        },
        "options": {}
      },
      "id": "cp-0021-4000-8000-000000000021",
      "name": "Sheets: Save Needs Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3250, 650],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":warning: *SeedLink Content Pipeline — Manual Review Needed*\\n\\n*Topic:* {{ $json.topic }}\\nAgent review failed after {{ $json.revision_count }} revision(s).\\nVoice: {{ $json.voice_score }}/5 | Strategy: {{ $json.strategy_score }}/5 | SEO/AEO: {{ $json.seo_aeo_score }}/5\\n\\nPlease review and edit the draft manually in the Content Hub.\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "cp-0022-4000-8000-000000000022",
      "name": "HTTP: Slack Manual Review Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3500, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\": \"SeedLink Content Pipeline: No topics with status 'Queued' found in the Content Hub. Add topics or run the Editorial Calendar workflow.\"}",
        "options": {}
      },
      "id": "cp-0023-4000-8000-000000000023",
      "name": "HTTP: No Topics Available",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 550]
    },
    {
      "parameters": {},
      "id": "cp-0024-4000-8000-000000000024",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":rotating_light: *SeedLink Content Pipeline — Error*\\n\\n*Workflow:* {{ $workflow.name }}\\n*Error:* {{ $json.execution.error.message }}\\n*Timestamp:* {{ $now.toISO() }}\\n*Execution ID:* {{ $json.execution.id }}\"\n}",
        "options": {}
      },
      "id": "cp-0025-4000-8000-000000000025",
      "name": "HTTP: Slack Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 800]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Sheets: Pull Next Topic", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Sheets: Pull Next Topic", "type": "main", "index": 0 }]]
    },
    "Sheets: Pull Next Topic": {
      "main": [[{ "node": "IF: Topic Found", "type": "main", "index": 0 }]]
    },
    "IF: Topic Found": {
      "main": [
        [{ "node": "Set: Prepare Topic Brief", "type": "main", "index": 0 }],
        [{ "node": "HTTP: No Topics Available", "type": "main", "index": 0 }]
      ]
    },
    "Set: Prepare Topic Brief": {
      "main": [[{ "node": "Claude: Expand Topic", "type": "main", "index": 0 }]]
    },
    "Claude: Expand Topic": {
      "main": [[{ "node": "Set: Prepare Draft Request", "type": "main", "index": 0 }]]
    },
    "Set: Prepare Draft Request": {
      "main": [[{ "node": "Claude: Generate Draft", "type": "main", "index": 0 }]]
    },
    "Claude: Generate Draft": {
      "main": [[{ "node": "Claude: Voice Review", "type": "main", "index": 0 }]]
    },
    "Claude: Voice Review": {
      "main": [[{ "node": "Claude: Strategy Review", "type": "main", "index": 0 }]]
    },
    "Claude: Strategy Review": {
      "main": [[{ "node": "Claude: SEO/AEO Review", "type": "main", "index": 0 }]]
    },
    "Claude: SEO/AEO Review": {
      "main": [[{ "node": "Code: Aggregate Reviews", "type": "main", "index": 0 }]]
    },
    "Code: Aggregate Reviews": {
      "main": [[{ "node": "IF: All Agents Passed", "type": "main", "index": 0 }]]
    },
    "IF: All Agents Passed": {
      "main": [
        [{ "node": "Claude: Editor-Unifier", "type": "main", "index": 0 }],
        [{ "node": "IF: Max Revisions", "type": "main", "index": 0 }]
      ]
    },
    "Claude: Editor-Unifier": {
      "main": [[{ "node": "Code: Parse Final Content", "type": "main", "index": 0 }]]
    },
    "Code: Parse Final Content": {
      "main": [[{ "node": "Sheets: Save Final Content", "type": "main", "index": 0 }]]
    },
    "Sheets: Save Final Content": {
      "main": [[{ "node": "HTTP: Notify Slack", "type": "main", "index": 0 }]]
    },
    "IF: Max Revisions": {
      "main": [
        [{ "node": "Set: Prepare Revision", "type": "main", "index": 0 }],
        [{ "node": "Sheets: Save Needs Review", "type": "main", "index": 0 }]
      ]
    },
    "Set: Prepare Revision": {
      "main": [[{ "node": "Claude: Revise Draft", "type": "main", "index": 0 }]]
    },
    "Claude: Revise Draft": {
      "main": [[{ "node": "Claude: Voice Review", "type": "main", "index": 0 }]]
    },
    "Sheets: Save Needs Review": {
      "main": [[{ "node": "HTTP: Slack Manual Review Alert", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "HTTP: Slack Error Alert", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "seedlink" },
    { "name": "production" }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-02-17T00:00:00.000Z",
  "versionId": "2"
}
