workflows/social-scheduler.json
{
  "name": "SeedLink - Social Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Publish Date",
              "lookupValue": "={{$now.format('yyyy-MM-dd')}}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Scheduled"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Sheets: Pull Today's Posts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-posts-available",
              "leftValue": "={{$input.all().length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "IF: Posts Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputIndex": 0,
              "value": "LinkedIn"
            },
            {
              "outputIndex": 1,
              "value": "Twitter"
            },
            {
              "outputIndex": 2,
              "value": "Blog"
            }
          ]
        },
        "dataType": "string",
        "value1": "={{$json.Platform}}",
        "fallbackOutput": -1,
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Switch: Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bufferapp.com/1/updates/create.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"profile_ids\": [\"={{$env.BUFFER_LINKEDIN_PROFILE_ID}}\"],\n  \"text\": \"{{$json.Content}}\",\n  \"now\": true\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "HTTP: Publish to Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer_api",
          "name": "Buffer API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bufferapp.com/1/updates/create.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"profile_ids\": [\"={{$env.BUFFER_TWITTER_PROFILE_ID}}\"],\n  \"text\": \"{{$json.Content}}\",\n  \"now\": true\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "HTTP: Publish Twitter to Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer_api",
          "name": "Buffer API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SEEDLINK_BLOG_URL}}/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{$json.Title}}\",\n  \"content\": \"{{$json.Content}}\",\n  \"status\": \"publish\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "HTTP: Publish to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        520
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "wordpress_api",
          "name": "WordPress API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Published",
            "Published URL": "={{$json.url || $json.updates[0].service_link || ''}}"
          },
          "matchingColumns": [
            "Row Number"
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Sheets: Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1640,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":rotating_light: *SeedLink Social Scheduler Error*\\n\\n*Workflow:* {{$workflow.name}}\\n*Error:* {{$json.execution.error.message}}\\n*Timestamp:* {{$now.toISO()}}\\n*Execution ID:* {{$json.execution.id}}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "HTTP: Slack Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        700
      ]
    },
    {
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "HTTP: No Posts Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\": \"SeedLink Social Scheduler: No posts scheduled for today. The editorial calendar has no rows with today's date and 'Scheduled' status.\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sheets: Pull Today's Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Pull Today's Posts": {
      "main": [
        [
          {
            "node": "IF: Posts Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Posts Available": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: No Posts Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        null,
        [
          {
            "node": "Switch: Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Platform": {
      "main": [
        [
          {
            "node": "HTTP: Publish to Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Publish Twitter to Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Publish to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Publish to Buffer": {
      "main": [
        [
          {
            "node": "Sheets: Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Publish Twitter to Buffer": {
      "main": [
        [
          {
            "node": "Sheets: Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Publish to WordPress": {
      "main": [
        [
          {
            "node": "Sheets: Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Update Status": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP: Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "seedlink"
    },
    {
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-10T00:00:00.000Z",
  "versionId": "1"
}