workflows/social-derivation.json
{
  "name": "SeedLink - Social Derivation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seedlink-social-derivation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook: Blog Approved",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "seedlink-social-derivation"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Editorial Calendar"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Approved"
            },
            {
              "lookupColumn": "Post ID",
              "lookupValue": "={{ $json.body.post_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Sheets: Get Approved Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [500, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "google_sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "blog-title",
              "name": "blogTitle",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "blog-content",
              "name": "blogContent",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "blog-url",
              "name": "blogUrl",
              "value": "={{ $json.URL }}",
              "type": "string"
            },
            {
              "id": "row-number",
              "name": "rowNumber",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "post-id",
              "name": "postId",
              "value": "={{ $json['Post ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Set: Format Blog Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a LinkedIn content specialist for SeedLink.app, an AI-augmented talent marketplace. Convert the blog post into a 150-300 word LinkedIn thought-leadership post. Structure: Hook line (bold statement), Insight (3-5 short paragraphs, 1-2 sentences each), Takeaway (1-2 sentences), CTA (casual link to blog), Hashtags (3-5). Voice: Write as founder Shilpa Kollengode sharing observations. First person. Direct and opinionated. Short paragraphs. No corporate speak. Concrete examples over abstract advice. Reference SeedLink naturally where relevant.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Title: {{ $json.blogTitle }}\\n\\nBlog Post Content:\\n{{ $json.blogContent }}\\n\\nBlog URL: {{ $json.blogUrl }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Claude: Derive LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are an X/Twitter content specialist for SeedLink.app. Convert the blog post into a 5-7 tweet thread. Tweet 1: Hook (boldest take, end with thread emoji). Tweets 2-5: One key insight per tweet, 200-250 chars each. Tweet 6: Summary takeaway. Tweet 7: CTA with blog link. Voice: Punchy, founder-style. Hot takes. One idea per tweet. Minimal emoji. No hashtags in body. Output as numbered tweets: 1/ [text] through 7/ [text].\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Title: {{ $json.blogTitle }}\\n\\nBlog Post Content:\\n{{ $json.blogContent }}\\n\\nBlog URL: {{ $json.blogUrl }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Claude: Derive Twitter Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 512,\n  \"system\": \"You are a social media specialist for SeedLink.app. Generate 2-3 standalone short-form social snippets from the blog post. Each snippet should be 1-3 sentences, shareable on any platform. Include a mix: one stat/insight, one question/provocative take, one practical tip. Output as JSON array of strings.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Title: {{ $json.blogTitle }}\\n\\nBlog Post Content:\\n{{ $json.blogContent }}\\n\\nBlog URL: {{ $json.blogUrl }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Claude: Derive Short Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "linkedin-post",
              "name": "linkedinPost",
              "value": "={{ $('Claude: Derive LinkedIn Post').item.json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "twitter-thread",
              "name": "twitterThread",
              "value": "={{ $('Claude: Derive Twitter Thread').item.json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "short-posts",
              "name": "shortPosts",
              "value": "={{ $('Claude: Derive Short Posts').item.json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "blog-title-merge",
              "name": "blogTitle",
              "value": "={{ $('Set: Format Blog Data').item.json.blogTitle }}",
              "type": "string"
            },
            {
              "id": "blog-url-merge",
              "name": "blogUrl",
              "value": "={{ $('Set: Format Blog Data').item.json.blogUrl }}",
              "type": "string"
            },
            {
              "id": "post-id-merge",
              "name": "postId",
              "value": "={{ $('Set: Format Blog Data').item.json.postId }}",
              "type": "string"
            },
            {
              "id": "row-number-merge",
              "name": "rowNumber",
              "value": "={{ $('Set: Format Blog Data').item.json.rowNumber }}",
              "type": "number"
            },
            {
              "id": "linkedin-publish-date",
              "name": "linkedinPublishDate",
              "value": "={{ $now.plus({days: 1}).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "twitter-publish-date",
              "name": "twitterPublishDate",
              "value": "={{ $now.plus({days: 3}).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "short-posts-publish-date",
              "name": "shortPostsPublishDate",
              "value": "={{ $now.plus({days: 5}).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Set: Merge Social Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Editorial Calendar"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $json.postId }}",
            "LinkedIn Post": "={{ $json.linkedinPost }}",
            "LinkedIn Publish Date": "={{ $json.linkedinPublishDate }}",
            "Twitter Thread": "={{ $json.twitterThread }}",
            "Twitter Publish Date": "={{ $json.twitterPublishDate }}",
            "Short Posts": "={{ $json.shortPosts }}",
            "Short Posts Publish Date": "={{ $json.shortPostsPublishDate }}",
            "Social Status": "Ready for Review"
          },
          "matchingColumns": ["Post ID"]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Sheets: Save Social Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1600, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "google_sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":seedling: *SeedLink Social Content Ready*\\n\\nBlog: *{{ $json.blogTitle }}*\\nURL: {{ $json.blogUrl }}\\n\\n:white_check_mark: LinkedIn post derived (publish {{ $json.linkedinPublishDate }})\\n:white_check_mark: Twitter thread derived (publish {{ $json.twitterPublishDate }})\\n:white_check_mark: Short posts derived (publish {{ $json.shortPostsPublishDate }})\\n\\nReview the social content in the Editorial Calendar and approve for scheduling.\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "HTTP: Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 300]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":rotating_light: *SeedLink Social Derivation Failed*\\n\\nWorkflow: Social Derivation\\nError: {{ $json.execution.error.message }}\\nExecution ID: {{ $json.execution.id }}\\n\\nPlease investigate and retry.\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "HTTP: Slack Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 600]
    }
  ],
  "connections": {
    "Webhook: Blog Approved": {
      "main": [
        [
          {
            "node": "Sheets: Get Approved Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Get Approved Post": {
      "main": [
        [
          {
            "node": "Set: Format Blog Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Format Blog Data": {
      "main": [
        [
          {
            "node": "Claude: Derive LinkedIn Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Claude: Derive Twitter Thread",
            "type": "main",
            "index": 0
          },
          {
            "node": "Claude: Derive Short Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Derive LinkedIn Post": {
      "main": [
        [
          {
            "node": "Set: Merge Social Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Derive Twitter Thread": {
      "main": [
        [
          {
            "node": "Set: Merge Social Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Derive Short Posts": {
      "main": [
        [
          {
            "node": "Set: Merge Social Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Merge Social Content": {
      "main": [
        [
          {
            "node": "Sheets: Save Social Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Save Social Content": {
      "main": [
        [
          {
            "node": "HTTP: Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP: Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "seedlink"
    },
    {
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-10T00:00:00.000Z",
  "versionId": "1"
}