workflows/social-publisher-direct.json
{
  "name": "SeedLink - Social Publisher (Direct API)",
  "nodes": [
    {
      "id": "wl-trigger-webhook",
      "name": "Webhook: Content Approved",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "seedlink-social-derive",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {
          "rawBody": false
        }
      },
      "webhookId": "seedlink-social-derive"
    },
    {
      "id": "wl-auth-check",
      "name": "IF: Auth Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-auth-token",
              "leftValue": "={{ $json.headers?.['x-webhook-secret'] || $json.body?.webhook_secret }}",
              "rightValue": "={{$env.SEEDLINK_WEBHOOK_SECRET}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "wl-sheets-get-post",
      "name": "Sheets: Get Approved Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 300],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Content Hub"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Post ID",
              "lookupValue": "={{ $json.body.postId }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": false
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "wl-set-format",
      "name": "Set: Format Blog Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a-title",
              "name": "blogTitle",
              "value": "={{ $json['Blog Title'] || $json['Title'] || $json['topic'] }}",
              "type": "string"
            },
            {
              "id": "a-content",
              "name": "blogContent",
              "value": "={{ $json['Draft Content'] || $json['Blog Content'] || $json['content'] }}",
              "type": "string"
            },
            {
              "id": "a-url",
              "name": "blogUrl",
              "value": "={{ $json['Blog URL'] || $env.SEEDLINK_BLOG_URL + '/blog/' + ($json['Slug'] || $json['Post ID']) }}",
              "type": "string"
            },
            {
              "id": "a-postid",
              "name": "postId",
              "value": "={{ $json['Post ID'] }}",
              "type": "string"
            },
            {
              "id": "a-pillar",
              "name": "pillar",
              "value": "={{ $json['Pillar'] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wl-claude-linkedin",
      "name": "Claude: Derive LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 100],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"claude-sonnet-4-20250514\", \"max_tokens\": 1024, \"system\": \"Convert blog post into 150-300 word LinkedIn post for SeedLink CEO Shilpa Kollengode. Structure: Hook line, Insight (3-5 short paragraphs), Takeaway, CTA to blog, Hashtags. Voice: founder sharing observations, first person, direct, opinionated. No corporate speak.\", \"messages\": [{ \"role\": \"user\", \"content\": \"Convert this blog post into a LinkedIn post:\\n\\nTitle: \" + $json.blogTitle + \"\\nURL: \" + $json.blogUrl + \"\\n\\nContent:\\n\" + $json.blogContent.substring(0, 6000) }] }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 60000,
          "retry": { "maxRetries": 3, "retryInterval": 2000 }
        }
      }
    },
    {
      "id": "wl-claude-twitter",
      "name": "Claude: Derive Twitter Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 340],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"claude-sonnet-4-20250514\", \"max_tokens\": 1024, \"system\": \"Convert blog post into a 5-7 tweet X/Twitter thread. Tweet 1: Hook with thread emoji. Tweets 2-5: One insight per tweet, 200-250 chars. Tweet 6: Summary takeaway. Tweet 7: CTA with blog link. Voice: punchy, founder-style, hot takes. No hashtags in body. Output as JSON array of strings, one per tweet.\", \"messages\": [{ \"role\": \"user\", \"content\": \"Convert this blog post into a Twitter/X thread:\\n\\nTitle: \" + $json.blogTitle + \"\\nURL: \" + $json.blogUrl + \"\\n\\nContent:\\n\" + $json.blogContent.substring(0, 6000) }] }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 60000,
          "retry": { "maxRetries": 3, "retryInterval": 2000 }
        }
      }
    },
    {
      "id": "wl-claude-short",
      "name": "Claude: Derive Short Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 580],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"claude-sonnet-4-20250514\", \"max_tokens\": 512, \"system\": \"Generate 2-3 standalone social snippets from the blog. Each 1-3 sentences, shareable on any platform. Mix: one stat/insight, one provocative question, one practical tip. Output as JSON array of strings.\", \"messages\": [{ \"role\": \"user\", \"content\": \"Generate standalone social snippets from this blog post:\\n\\nTitle: \" + $json.blogTitle + \"\\nURL: \" + $json.blogUrl + \"\\n\\nContent:\\n\" + $json.blogContent.substring(0, 6000) }] }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 60000,
          "retry": { "maxRetries": 3, "retryInterval": 2000 }
        }
      }
    },
    {
      "id": "wl-merge",
      "name": "Merge: Await All Derivations",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1500, 340],
      "parameters": {
        "mode": "append",
        "options": { "numberInputs": 3 }
      }
    },
    {
      "id": "wl-set-merge",
      "name": "Set: Merge Social Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1740, 340],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "m-linkedin",
              "name": "linkedinPost",
              "value": "={{ $('Claude: Derive LinkedIn Post').item.json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "m-twitter",
              "name": "twitterThread",
              "value": "={{ $('Claude: Derive Twitter Thread').item.json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "m-short",
              "name": "shortPosts",
              "value": "={{ $('Claude: Derive Short Posts').item.json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "m-postid",
              "name": "postId",
              "value": "={{ $('Set: Format Blog Data').item.json.postId }}",
              "type": "string"
            },
            {
              "id": "m-title",
              "name": "blogTitle",
              "value": "={{ $('Set: Format Blog Data').item.json.blogTitle }}",
              "type": "string"
            },
            {
              "id": "m-url",
              "name": "blogUrl",
              "value": "={{ $('Set: Format Blog Data').item.json.blogUrl }}",
              "type": "string"
            },
            {
              "id": "m-li-date",
              "name": "linkedinPublishDate",
              "value": "={{ (() => { const d = new Date(); d.setDate(d.getDate() + 1); return d.toISOString().split('T')[0]; })() }}",
              "type": "string"
            },
            {
              "id": "m-tw-date",
              "name": "twitterPublishDate",
              "value": "={{ (() => { const d = new Date(); d.setDate(d.getDate() + 3); return d.toISOString().split('T')[0]; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wl-sheets-save",
      "name": "Sheets: Save Social Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1980, 340],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Content Hub"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn Post": "={{ $json.linkedinPost }}",
            "Twitter Thread": "={{ $json.twitterThread }}",
            "Short Posts": "={{ $json.shortPosts }}",
            "LinkedIn Publish Date": "={{ $json.linkedinPublishDate }}",
            "Twitter Publish Date": "={{ $json.twitterPublishDate }}",
            "Social Status": "Ready for Review"
          },
          "matchingColumns": ["Post ID"]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "wl-notify-derived",
      "name": "HTTP: Notify Social Derived",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 340],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"text\": \":mega: *SeedLink Social Engine — Content Derived*\\n\\n*Blog:* \" + $json.blogTitle + \"\\n*Post ID:* \" + $json.postId + \"\\n\\n:white_check_mark: LinkedIn post (publish: \" + $json.linkedinPublishDate + \")\\n:white_check_mark: Twitter thread (publish: \" + $json.twitterPublishDate + \")\\n:white_check_mark: Short posts derived\\n\\n*Status:* Ready for Review — approve in Content Hub then status will change to 'Scheduled' for auto-publish via direct API.\" }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "wl-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 900],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "wl-sheets-today",
      "name": "Sheets: Pull Today's Social Posts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [500, 900],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Social Queue"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Publish Date",
              "lookupValue": "={{ new Date().toISOString().split('T')[0] }}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Scheduled"
            }
          ]
        },
        "options": {
          "returnAllMatches": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "wl-if-posts",
      "name": "IF: Posts Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [740, 900],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-platform",
              "leftValue": "={{ $json.Platform }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "wl-no-posts",
      "name": "NoOp: No Posts Today",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 1100],
      "parameters": {}
    },
    {
      "id": "wl-split",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1000, 900],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "wl-switch-platform",
      "name": "Switch: Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1260, 900],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "LinkedIn",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "cond-li",
                    "leftValue": "={{ $json.Platform }}",
                    "rightValue": "LinkedIn",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "Twitter",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "cond-tw",
                    "leftValue": "={{ $json.Platform }}",
                    "rightValue": "Twitter",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "Blog",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "cond-blog",
                    "leftValue": "={{ $json.Platform }}",
                    "rightValue": "Blog",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "none" }
      }
    },
    {
      "id": "wl-publish-linkedin-direct",
      "name": "HTTP: Publish LinkedIn Direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 720],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.LINKEDIN_ACCESS_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"author\": \"urn:li:person:\" + $env.LINKEDIN_PERSON_URN, \"lifecycleState\": \"PUBLISHED\", \"specificContent\": { \"com.linkedin.ugc.ShareContent\": { \"shareCommentary\": { \"text\": $json.Content }, \"shareMediaCategory\": \"NONE\" } }, \"visibility\": { \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\" } }) }}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } },
          "retry": { "maxRetries": 2, "retryInterval": 3000 }
        }
      }
    },
    {
      "id": "wl-publish-twitter-direct",
      "name": "HTTP: Publish Tweet Direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 920],
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"text\": $json.Content }) }}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } },
          "retry": { "maxRetries": 2, "retryInterval": 3000 }
        }
      },
      "credentials": {
        "twitterOAuth2Api": {
          "id": "twitter_oauth2",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "id": "wl-blog-notify",
      "name": "HTTP: Notify Blog Ready for Framer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 1120],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"text\": \":memo: *Blog Post Ready for Framer*\\n\\n*Title:* \" + ($json.Title || $json['Post Title'] || 'Untitled') + \"\\n\\nContent is in the Content Hub Sheet. Copy and paste into Framer CMS.\\n\\n:link: <https://docs.google.com/spreadsheets/d/\" + $env.SEEDLINK_EDITORIAL_CALENDAR_ID + \"|Open Content Hub>\" }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "wl-code-thread-publisher",
      "name": "Code: Twitter Thread Publisher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 920],
      "parameters": {
        "jsCode": "// Twitter Thread Publisher\n// Publishes a thread by chaining tweets with in_reply_to_tweet_id\n// Input: $json.Content should be a JSON array of tweet strings, or a single tweet string\n\nconst content = $json.Content;\nlet tweets = [];\n\ntry {\n  tweets = JSON.parse(content);\n} catch (e) {\n  // Single tweet, not a thread\n  tweets = [content];\n}\n\nif (!Array.isArray(tweets) || tweets.length <= 1) {\n  // Single tweet already published by the previous node\n  return [{ json: { status: 'published', type: 'single_tweet', tweetId: $json.data?.id || 'unknown' } }];\n}\n\n// For threads, the first tweet was already published.\n// We need to publish replies 2-N chained to the first tweet's ID.\nconst firstTweetId = $json.data?.id;\n\nif (!firstTweetId) {\n  return [{ json: { status: 'error', message: 'First tweet ID not found in response. Thread cannot continue.' } }];\n}\n\nconst results = [{ tweet: tweets[0], tweetId: firstTweetId, status: 'published' }];\nlet lastTweetId = firstTweetId;\n\nfor (let i = 1; i < tweets.length; i++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.twitter.com/2/tweets',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        text: tweets[i],\n        reply: { in_reply_to_tweet_id: lastTweetId }\n      }),\n      timeout: 30000\n    });\n\n    const replyId = response?.data?.id || 'unknown';\n    results.push({ tweet: tweets[i], tweetId: replyId, status: 'published' });\n    lastTweetId = replyId;\n  } catch (err) {\n    results.push({ tweet: tweets[i], status: 'failed', error: err.message });\n    break; // Stop thread on failure\n  }\n\n  // Rate limit courtesy delay (1 second between tweets)\n  await new Promise(resolve => setTimeout(resolve, 1000));\n}\n\nreturn [{ json: { status: 'thread_published', threadLength: results.length, tweets: results } }];"
      }
    },
    {
      "id": "wl-update-status",
      "name": "Sheets: Update Published Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2040, 900],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.SEEDLINK_EDITORIAL_CALENDAR_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Social Queue"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Published",
            "Published URL": "={{ $json.link || $json.url || $json.data?.id || $json.tweetId || '' }}",
            "Published At": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": ["Row ID"]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "wl-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 1400],
      "parameters": {}
    },
    {
      "id": "wl-error-slack",
      "name": "HTTP: Slack Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 1400],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTIFICATION_SLACK_WEBHOOK}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"text\": \":rotating_light: *SeedLink Social Publisher — Error*\\n\\n*Error Node:* \" + ($json.execution?.error?.node || 'Unknown') + \"\\n*Error:* \" + ($json.execution?.error?.message || 'No error message') + \"\\n*Execution ID:* \" + ($json.execution?.id || 'N/A') + \"\\n*Time:* \" + new Date().toISOString() }) }}",
        "options": { "timeout": 10000 }
      }
    }
  ],
  "connections": {
    "Webhook: Content Approved": {
      "main": [
        [
          { "node": "IF: Auth Valid", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF: Auth Valid": {
      "main": [
        [
          { "node": "Sheets: Get Approved Post", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets: Get Approved Post": {
      "main": [
        [
          { "node": "Set: Format Blog Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set: Format Blog Data": {
      "main": [
        [
          { "node": "Claude: Derive LinkedIn Post", "type": "main", "index": 0 },
          { "node": "Claude: Derive Twitter Thread", "type": "main", "index": 0 },
          { "node": "Claude: Derive Short Posts", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude: Derive LinkedIn Post": {
      "main": [
        [
          { "node": "Merge: Await All Derivations", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude: Derive Twitter Thread": {
      "main": [
        [
          { "node": "Merge: Await All Derivations", "type": "main", "index": 1 }
        ]
      ]
    },
    "Claude: Derive Short Posts": {
      "main": [
        [
          { "node": "Merge: Await All Derivations", "type": "main", "index": 2 }
        ]
      ]
    },
    "Merge: Await All Derivations": {
      "main": [
        [
          { "node": "Set: Merge Social Content", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set: Merge Social Content": {
      "main": [
        [
          { "node": "Sheets: Save Social Content", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets: Save Social Content": {
      "main": [
        [
          { "node": "HTTP: Notify Social Derived", "type": "main", "index": 0 }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Sheets: Pull Today's Social Posts", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets: Pull Today's Social Posts": {
      "main": [
        [
          { "node": "IF: Posts Available", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF: Posts Available": {
      "main": [
        [
          { "node": "SplitInBatches", "type": "main", "index": 0 }
        ],
        [
          { "node": "NoOp: No Posts Today", "type": "main", "index": 0 }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          { "node": "Switch: Platform", "type": "main", "index": 0 }
        ]
      ]
    },
    "Switch: Platform": {
      "main": [
        [
          { "node": "HTTP: Publish LinkedIn Direct", "type": "main", "index": 0 }
        ],
        [
          { "node": "HTTP: Publish Tweet Direct", "type": "main", "index": 0 }
        ],
        [
          { "node": "HTTP: Notify Blog Ready for Framer", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: Publish LinkedIn Direct": {
      "main": [
        [
          { "node": "Sheets: Update Published Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: Publish Tweet Direct": {
      "main": [
        [
          { "node": "Code: Twitter Thread Publisher", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code: Twitter Thread Publisher": {
      "main": [
        [
          { "node": "Sheets: Update Published Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: Notify Blog Ready for Framer": {
      "main": [
        [
          { "node": "Sheets: Update Published Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets: Update Published Status": {
      "main": [
        [
          { "node": "SplitInBatches", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          { "node": "HTTP: Slack Error Alert", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "seedlink" },
    { "name": "production" },
    { "name": "white-label" }
  ],
  "pinData": {},
  "versionId": "2",
  "meta": { "instanceId": "" }
}
